* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background: url('images/background.jpeg');
    background-position: center;
    background-size: cover;
}
.menu-bar ul {
    background-color: aquamarine;
}
.menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 30px;
    text-decoration: none;
}
.menu-bar ul li a {
    text-decoration: none;
    color: rgb(244, 72, 72);
    padding: 20px;
    font-weight: 800;
}
.menu-bar ul li:hover  {
    background-color:rgb(241, 181, 181);
    border-radius: 5px;
}
/* Positiong the sub-menu-bar-01 */
.active {
    position: relative;
}
.active .menu-bar-01 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    display: none;
}
.active .menu-bar-01 ul li {
    width: 100%;
    border-bottom: 2px solid white;
}
.active .menu-bar-01 ul li:last-child {
    border-bottom: none;
}
.active:hover .menu-bar-01 {
    display: block;
}
/* Positioning the menu-bar-02 */
.menu-bar ul li:nth-child(2) {
    position: relative;
}
li:nth-child(2) .menu-bar-02 {
    position: absolute;
    left: 100%;
    top: 0;
    width: auto;
    display: none;
}
li:nth-child(2) .menu-bar-02 ul li {
    width: 100%;
}
li:nth-child(2):hover .menu-bar-02 {
    display: block;
}